body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
button,
textarea,
table,
th,
td {
    margin: 0;
    padding: 0;
}

body{
	font-family: "microsoft yahei";
	font-size: 14px;
	background-color: #fff;
}

i {
    font-style: normal;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
	width: 100%;
	height: 100%;
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
option,
section {
    border: 0;
    outline: none;
}
input::placeholder{
    color: #999;
}
textarea::-webkit-placeholder{
  color: #999;
}
textarea{
	font-family: "microsoft yahei"
}
button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


.fl {
    float: left
}

.fr {
    float: right
}

.clf:before,
.clf:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clf {
    *zoom: 1;
}

.container{
  width: 1400px;
  margin: 0 auto;
}
.mine{
  min-height: 600px;
}

@font-face {
  font-family: Didot;
  src: url(./font/Didot.ttf);
}

@font-face {
  font-family: Didot-B;
  src: url(./font/Didot-Bold.ttf);
}

@font-face {
  font-family: Microsoft-Light;
  src: url(./font/Microsoft-YaHei-UI-Light.ttf);
}

@font-face {
  font-family: AdobeHeitiStd-R;
  src: url(./font/AdobeHeitiStd-Regular.otf);
}

@font-face {
  font-family: tw-cen-mt;
  src: url(./font/tw-cen-mt.ttf);
}

